@font-face {
  font-family: YuGo;
  src: local(YuGo-Medium),
    url(/path/to/YuGo-Medium.woff2) format("woff2"),
    url(/path/to/YuGo-Medium.woff) format("woff"),
    url(/path/to/YuGo-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: YuGo;
  src: local(YuGo-Bold),
    url(/path/to/YuGo-Bold.woff2) format("woff2"),
    url(/path/to/YuGo-Bold.woff) format("woff"),
    url(/path/to/YuGo-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

:root {
  --primary-color: #0fbe9f;
  --primary-color-light: #66d6c3;
  --primary-color-dark: #0da88c;
  --primary-color-shadow: rgba(15, 190, 159, 0.5);
}

h1, h2, h3, big, body, caption, label, 
.nagoyameshi-check-label, 
.nagoyameshi-require-input-label-text,
.nagoyameshi-submit-button,
.nagoyameshi-login-text {
  font-family: YuGo;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: -0.13px;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: normal;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.04px;
}

big {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.08px;
}

body {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.11px;
}

caption {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.08px;
}

label {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: #191919;
}

.nagoyameshi-input {
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border: var(--primary-color-dark)
}

.btn-close:focus,
.nagoyameshi-input:focus,
.form-check-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color-shadow);
}

.nagoyameshi-check-label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: normal;
  color: #000000;
}

.nagoyameshi-require-input-label {
  margin-left: 10px;
  padding: 3px;
  background-color: #e2001b;
  border-radius: 25%/50%;
}

.nagoyameshi-require-input-label-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ffffff;
}

.nagoyameshi-submit-button {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: #ffffff;
  background-color: var(--primary-color);
}

.nagoyameshi-login-text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: var(--primary-color);
  text-decoration: none;
}

.nagoyameshi-login-text:hover,
.nagoyameshi-login-text:active {
  color:  var(--primary-color-dark);
}

.nagoyameshi-header-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.nagoyameshi-search-input {
  border: solid 1px #e5e5e5;
  border-radius: 0;
}

.nagoyameshi-search-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color-shadow);
}

.nagoyameshi-header-search-button {
  background-color: var(--primary-color);
}

.nagoyameshi-header-search-icon {
  color: #ffffff;
}

.nagoyameshi-favorite-button {
  border-radius: 2px;
  border: solid 1px var(--primary-color);
  background-color: #ffffff;
}

.text-favorite {
  color: var(--primary-color);
}

.star-rating {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-size: 24px;
  stroke-width: 30px;
  color: #ccc;
}

.star-rating .fas,
.star-rating .fa-star-half-alt {
  color: var(--primary-color);
}

.star-rating .fa-star.hovered,
.star-rating .fa-star-half-alt.hovered {
  color: var(--primary-color-light);
}

.category-label {
  width: 156px;
  height: 20px;
  font-family: YuGo;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.nagoyameshi-button {
  color: #ffffff;
  border-color:  var(--primary-color);
  background-color: var(--primary-color);
}

.nagoyameshi-button:hover,
.nagoyameshi-button:not(:disabled):not(.disabled):active {
  color: #ffffff;
  border-color:  var(--primary-color-dark);
  background-color: var(--primary-color-dark);
  box-shadow: none;;
}

.nagoyameshi-search-button {
  border-radius: 0 0.375rem 0.375rem 0;
  height: 37px;
}

.nagoyameshi-card-holder-name,
.nagoyameshi-card-element {
  border-radius: .375rem;
  padding: 12px;
  border: 1px solid #ced4da;
  height: 44px;
  width: 100%;
  background: white;
}

.nagoyameshi-card-holder-name {
  font-family: sans-serif;
  outline: none;
}

.nagoyameshi-card-error {
  display: none;
}

.category-menu {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  width: 90vw;
  gap: 5px;
}

#main-container {
  max-width: 650px;
}

.cover-inner,
#restaurant-carousel .carousel-inner {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#restaurant-carousel .carousel-item {
  width: 100%;
  height: 100%;
}

.cover-img,
.carousel-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.top-page-card-img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}

.rating-star {
  color: var(--primary-color);
  font-size: 20px;
}

.card-body {
  background-color: none;
  overflow: hidden;
}

.card {
  background-color: white;
}

.restaurant-card,
.restaurant-card:hover,
.restaurant-card:focus {
  text-decoration: none;
  color: inherit;
}

.highlight-card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.highlight-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

.highlight-card:hover::before {
  background: rgba(255, 255, 255, 0.25);
}

.floating-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.img-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
}

.img-container-reservations {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px
}

.img-container-reservations img,
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.top-page-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 10px;
}

#top-page-main-container {
  max-width: 1000px;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.pagination .page-link {
    color: #6c757d;
}

.pagination .page-link:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #dee2e6;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination .page-link:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem var(--primary-color-shadow);
}

.breadcrumb-item {
  font-weight: bold;
}

.breadcrumb-item > a {
  color: var(--primary-color);
  text-decoration: none;
}

.breadcrumb-item > a:hover {
  color: var(--primary-color-dark);
  text-decoration: none;
}

.mypage-menu-item {
  box-shadow: 5px 5px var(--primary-color);
  transition: all .2s;
  color: #000000;
}

.mypage-menu-item:hover {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px var(--primary-color-dark);
  border-color: #000000;
}

.mypage-menu-item > i {
  opacity: 0;
  transform: translateX(-10px);
  transition: all .2s;
}

.mypage-menu-item:hover > i {
  opacity: 1;
  transform: translate(0px);
}

a:has(> .mypage-menu-item) {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}